############################################
# Visual Studio
############################################

.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
*.VC.db
*.VC.opendb

############################################
# Build outputs
############################################

[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
x64/
x86/
build/
out/
ipch/

*.log
*.tlog
*.tmp
*.cache
*.pch
*.ilk
*.pdb
*.idb
*.iobj
*.ipdb
*.exp
*.lib
*.dll
*.exe

############################################
# CMake
############################################

CMakeFiles/
CMakeCache.txt
cmake-build-*/
compile_commands.json
CTestTestfile.cmake
Testing/

############################################
# Ninja / Make
############################################

*.ninja
.ninja_log
.ninja_deps
Makefile
makefile

############################################
# Visual Studio generated
############################################

*.aps
*.ncb
*.opensdf
*.sdf
*.VC.VC.opendb

############################################
# Test results
############################################

TestResults/
*.trx

############################################
# NuGet
############################################

packages/
*.nupkg
*.snupkg

############################################
# vcpkg
############################################

vcpkg_installed/
vcpkg/buildtrees/
vcpkg/packages/
vcpkg/downloads/

############################################
# Conan
############################################

.conan/
conanbuildinfo.*
conan.lock

############################################
# Clang / LLVM
############################################

*.dSYM/
*.gcda
*.gcno
*.gcov

############################################
# OS junk
############################################

.DS_Store
Thumbs.db
desktop.ini

############################################
# Editors
############################################

.vscode/
.idea/

############################################
# Coverage
############################################

coverage/
*.coverage
*.coveragexml

############################################
# Misc
############################################

*.bak
*.swp
*.orig
